<!doctype html>
<html ng-app>
<head>
<!--
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
-->
    <script src="../angular.js"></script>

</head>
<body>
    <div>
    <label>氏名:</label>
    <input type="text" ng-model="yourName" placeholder="名前を入力"><br>
    <label>年齢:</label>
    <input type="text" ng-model="yourAge" placeholder="年齢を入力してください"><br>
    <hr>
    <span>こんにちは {{yourName}}!</span><br>
    <span>年齢 {{yourAge}}歳</span><br>
    </div>
</body>
</html>
